<nav
    class="fixed w-full z-50 backdrop-blur-md bg-white/70 dark:bg-black/40 border-b border-gray-200 dark:border-gray-800">

    <div class="max-w-7xl mx-auto px-6">

        <div class="flex justify-between items-center h-20">

            <!-- LOGO -->
            <a href="/" class="text-3xl font-bold tracking-wide text-[#6F4E37]">
                CoffeeShop
            </a>

            <!-- MENU -->
            <div class="hidden md:flex items-center gap-8">

                <a href="{% url 'home' %}" class="hover:text-[#C4A484] transition duration-300">
                    Inicio
                </a>

                <a href="{% url 'products' %}" class="hover:text-[#C4A484] transition duration-300">
                    Productos
                </a>

                <a href="{% url 'cart' %}" class="hover:text-[#C4A484] transition duration-300 inline-flex items-center gap-2">
                    Carrito
                    <span id="cart-count" class="bg-[#6F4E37] text-white px-2 py-1 rounded-full text-xs">
                        {% if request.session.cart %}
                            {{ request.session.cart|length }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </a>

                <a href="#" class="hover:text-[#C4A484] transition duration-300">
                    Nosotros
                </a>

                <a href="#" class="hover:text-[#C4A484] transition duration-300">
                    Contacto
                </a>

                {% if request.session.user_id %}

                {% if request.session.user_role == 'admin' %}
                <a href="{% url 'dashboard' %}" class="hover:text-[#C4A484]">
                    Dashboard
                </a>
                {% endif %}

                {% endif %}

            </div>

            <!-- RIGHT -->
            <div class="flex items-center gap-4">

                {% if request.session.user_id %}

                <span class="font-semibold">
                    Hola, {{ request.session.user_name }}
                </span>

                <a href="{% url 'logout' %}" class="bg-red-500 text-white px-4 py-2 rounded-xl">

                    Salir

                </a>

                {% else %}

                <a href="{% url 'login' %}" class="hover:text-[#C4A484]">

                    Login

                </a>

                <a href="{% url 'register' %}" class="bg-[#6F4E37] text-white px-5 py-2 rounded-xl">

                    Registro

                </a>

                {% endif %}

            </div>

        </div>

    </div>
</nav>