{% extends 'base.html' %}

{% block content %}

<section class="min-h-screen flex items-center justify-center px-6 bg-gradient-to-br from-[#F8F5F2] via-white to-[#E7D7C9] dark:from-[#121212] dark:via-[#1E1E1E] dark:to-[#0f0f0f]">

    <div class="w-full max-w-md bg-white dark:bg-[#1E1E1E] rounded-3xl shadow-2xl p-10">

        <h1 class="text-4xl font-bold mb-4 text-center">
            Crear Cuenta
        </h1>

        <p class="text-center text-gray-500 dark:text-gray-400 mb-8">
            Regístrate para ordenar tus cafés y mantener tu carrito guardado.
        </p>

        <form method="POST" class="space-y-6">

            {% csrf_token %}

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                    Nombre
                </label>
                <input type="text" name="full_name"
                    class="w-full p-4 rounded-2xl border border-gray-200 dark:border-gray-800 dark:bg-[#121212] focus:outline-none focus:ring-2 focus:ring-[#6F4E37]">
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                    Correo
                </label>
                <input type="email" name="email"
                    class="w-full p-4 rounded-2xl border border-gray-200 dark:border-gray-800 dark:bg-[#121212] focus:outline-none focus:ring-2 focus:ring-[#6F4E37]">
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                    Contraseña
                </label>
                <input type="password" name="password"
                    class="w-full p-4 rounded-2xl border border-gray-200 dark:border-gray-800 dark:bg-[#121212] focus:outline-none focus:ring-2 focus:ring-[#6F4E37]">
            </div>

            <button class="w-full bg-[#6F4E37] text-white py-4 rounded-2xl hover:scale-105 transition">
                Registrarse
            </button>
        </form>

        <p class="mt-6 text-center text-gray-500 dark:text-gray-400">
            ¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-[#6F4E37] hover:underline">Inicia sesión</a>
        </p>
    </div>

</section>

{% endblock %}