{% extends 'base.html' %}


{% block content %}


<div class="flex min-h-screen">


    <!-- SIDEBAR -->

    <aside
    class="
    w-72
    bg-[#1E1E1E]
    text-white
    p-8
    hidden
    md:block
    ">


        <h1
        class="
        text-3xl
        font-bold
        text-[#C4A484]
        mb-10
        ">

            Coffee Admin

        </h1>



        <nav class="space-y-5">


            <a
            href="{% url 'dashboard' %}"
            class="block hover:text-[#C4A484]">

                Dashboard

            </a>



            <a
            href="{% url 'dashboard_products' %}"
            class="block hover:text-[#C4A484]">

                Productos

            </a>



            <a
            href="{% url 'dashboard_orders' %}"
            class="block hover:text-[#C4A484]">

                Pedidos

            </a>



            <a
            href="#"
            class="block hover:text-[#C4A484]">

                Inventario

            </a>



            <a
            href="#"
            class="block hover:text-[#C4A484]">

                Usuarios

            </a>



        </nav>



    </aside>




    <!-- CONTENT -->


    <main
    class="
    flex-1
    p-10
    bg-[#F8F5F2]
    dark:bg-[#121212]
    ">


        {% block dashboard_content %}

        {% endblock %}



    </main>



</div>



{% endblock %}